.form {
  display: flex;
  flex-direction: column;
  max-width: 30em;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.formItem,
.formTextArea {
  padding: 1em;
  margin: 1em 0;
  flex-grow: 1;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 0.9em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.formTextArea {
  min-height: 8em;
}

.arrayItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;
}

.buttonItem {
  width: 50%;
  margin: auto;
  height: 3rem;
  // flex-grow: 0;
  font-size: 1.5em;
  cursor: pointer;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: background-color 0.3s, transform 0.3s;
}

.buttonItem:hover {
  background-color: #e0e0e0;
  transform: scale(1.05);
}

.formLabel {
  font-weight: 500;
  margin-bottom: 0.5em;
  color: #555;
}
